---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<!--for the Swiper Effect-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

		<!--//for the .btn-action-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

		<style>
			html,
			body {
				position: relative;
				height: 100%;
			}

			body {
				color: white;
				background: #e8e80e;
			}

			.swiper {
				width: 100%;
				height: 100%;
			}

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.swiper-slide img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			/*Background*/

			.bg-game-1 {
				background-image: url("/bg-CaveGame.png");
				background-size: cover;
			}
			.bg-game-2 {
				background-image: url("/bg-CosmoJump.png");
				background-size: cover;
			}

			/*Styles for the .btn-action*/
			.btn-action {
				transition: all linear 0.1s;
				text-align: center;
			}

			.btn-action, .btn-action::after {
				display: block;
				width: 380px;
				height: 86px;
				font-size: 36px;
				font-family: 'Bebas Neue', cursive;
				background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
				border: 0;
				color: #fff;
				letter-spacing: 3px;
				line-height: 88px;
				box-shadow: 6px 0 0 #ffda27;
				outline: transparent;
				position: relative;
			}

			.btn-action::after {
				--slice-0: inset(50% 50% 50% 50%);
				--slice-1: inset(80% -6px 0 0);
				--slice-2: inset(50% -6px 30% 0);
				--slice-3: inset(10% -6px 85% 0);
				--slice-4: inset(40% -6px 43% 0);
				--slice-5: inset(80% -6px 5% 0);

				content: 'Download';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(45deg, transparent 3%, #f6cd00 3%, #fffc07 5%, #FF013C 5%);
				text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #dab10e;
				clip-path: var(--slice-0);
			}

			.btn-action:hover::after {
				animation: 1s glitch;
				animation-timing-function: steps(2, end);
			}

			.btn-action:active {
				transform: translateY(5px);
				background: linear-gradient(45deg, transparent 5%, #cb012d 5%);
			}

			// second button
			.a {

			}
			.btn-cosmo {
				animation: 1.5s ease infinite alternate running shimmer;
				background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
				background-size: 200% 100%;
				border: none;
				border-radius: 6px;
				box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
				color: #170F1E;
				cursor: pointer;
				font-family: 'Inter', sans-serif;
				font-size: 16px;
				font-weight: 670;
				line-height: 24px;
				overflow: hidden;
				padding: 12px 24px;
				position: relative;
				text-decoration: none;
				transition: 0.2s;
				display: block;
			}

			.btn-cosmo svg {
				left: -20px;
				opacity: 0.5;
				position: absolute;
				top: -2px;
				transition: 0.5s cubic-bezier(.5,-0.5,.5,1.5);
			}

			.btn-cosmo:hover svg {
				opacity: 0.8;
				transform: translateX(50px) scale(1.5);
			}

			.btn-cosmo:hover {
				transform: rotate(-3deg);
			}

			.btn-cosmo:active {
				transform: scale(0.95) rotate(-3deg);
			}


			@keyframes shimmer {
				to {
					background-size: 100% 100%;
					box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
				}
			}

			.animation-cosmo {
				animation-duration: 8s;
				animation-name: cosmo;
				animation-iteration-count: infinite;
				transition-timing-function: cubic-bezier(0.940, 0.000, 0.065, 1.040); /* custom */
			}
			@keyframes cosmo {
				0%, 100% {
					transform: translateY(-50%);
				}
				50% {
					transform: none;
				}
			}

			@keyframes glitch {
				0% {
					clip-path: var(--slice-1);
					transform: translate(-20px, -10px);
				}
				10% {
					clip-path: var(--slice-3);
					transform: translate(10px, 10px);
				}
				20% {
					clip-path: var(--slice-1);
					transform: translate(-10px, 10px);
				}
				30% {
					clip-path: var(--slice-3);
					transform: translate(0px, 5px);
				}
				40% {
					clip-path: var(--slice-2);
					transform: translate(-5px, 0px);
				}
				50% {
					clip-path: var(--slice-3);
					transform: translate(5px, 0px);
				}
				60% {
					clip-path: var(--slice-4);
					transform: translate(5px, 10px);
				}
				70% {
					clip-path: var(--slice-2);
					transform: translate(-10px, 10px);
				}
				80% {
					clip-path: var(--slice-5);
					transform: translate(20px, -10px);
				}
				90% {
					clip-path: var(--slice-1);
					transform: translate(-10px, 0px);
				}
				100% {
					clip-path: var(--slice-1);
					transform: translate(0);
				}
			}

		</style>
	</head>
	<body>

	<div class="swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide bg-game-1">
				<div class="w-full h-full bg-gradient-to-r from-black to-75% flex items-center">
					<div class="w-1/2 text-left ml-40 max-w-screen-sm space-y-6">
						<div class="text-7xl text-white">CaveGame</div>
						<div class="text-2xl text-white opacity-70">Free Open World game where you have to solve problems on your way and kill the boss! </div>

						<a href="#" class="btn-action  animation-cosmo">Download</a>

					</div>
				</div>
			</div>

			<div class="swiper-slide bg-game-2">
				<div class="w-full h-full bg-gradient-to-l from-black to-55% grid grid-cols-5">

					<div class="col-span-3"></div>
					<div class="col-span-2 flex items-center">
						<div class="text-right space-y-6 pr-40">
							<div class="text-7xl text-white">CosmoJump</div>
							<div class="text-2xl text-white opacity-70">Free 2D game where you have to jump between space rocks and beat your own record!</div>

							<!--2 Button-->
							<button class="btn-cosmo ml-auto">
								Download
								<svg width="79" height="46" viewBox="0 0 79 46" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g filter="url(#filter0_f_618_1123)">
										<path d="M42.9 2H76.5L34.5 44H2L42.9 2Z" fill="url(#paint0_linear_618_1123)"/>
									</g>
									<defs>
										<filter id="filter0_f_618_1123" x="0" y="0" width="78.5" height="46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
											<feFlood flood-opacity="0" result="BackgroundImageFix"/>
											<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
											<feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur_618_1123"/>
										</filter>
										<linearGradient id="paint0_linear_618_1123" x1="76.5" y1="2.00002" x2="34.5" y2="44" gradientUnits="userSpaceOnUse">
											<stop stop-color="white" stop-opacity="0.6"/>
											<stop offset="1" stop-color="white"  stop-opacity="0.05"/>
										</linearGradient>
									</defs>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
	</div>


	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

	<script>
		var swiper = new Swiper(".swiper", {
			direction: "vertical",
			slidesPerView: 1,
			spaceBetween: 0,
			mousewheel: true,
			pagination: {
				el: ".swiper-pagination",
				clickable: true,
			},
		});
	</script>
	</body>
</html>
