---
import "../styles.scss";
import SlideOne from '../components/SlideOne.astro';
import SlideTwo from '../components/SlideTwo.astro';
import SlideThree from "../components/SlideThree.astro";
import SlideFour from "../components/SlideFour.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<meta name="description" content="Web site with games of indi developer">

		<!--for the Swiper Effect-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

		<!--//for the .btn-action-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

	</head>
	<body>
	<div class="swiper">
		<div class="swiper-wrapper">
			<SlideOne/>
			<SlideTwo/>
			<SlideThree/>
			<SlideFour
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

	<script>
		new Swiper(".swiper", {
			direction: "vertical",
			slidesPerView: 1,
			spaceBetween: 0,
			mousewheel: true,
			pagination: {
				el: ".swiper-pagination",
				clickable: true,
			},
		});
	</script>
	</body>
</html>
