---

---
<div class="swiper-slide bg-game-1">
    <div class="w-full h-full bg-gradient-to-r from-black to-75% flex items-center">
        <div class="px-4 md:px-0 md:w-1/2  md:ml-20 xl:ml-40 max-w-screen-sm space-y-6 text-center sm:text-left">
            <div class="text-4xl sm:text-6xl md:text-6xl xl:text-7xl text-white">CaveGame</div>
            <div class="text-lg md:text-2xl text-white opacity-70">Free Open World game where you have to solve problems on your way and kill the boss! </div>

            <a
                    target="_blank"
                    rel="nofollow"
                    href="https://drive.google.com/file/d/1RzmMhLJcUygwUvv9d2hNlacHEXYVBFlb/view?usp=sharing"
                    class="btn-action w-full sm:w-96">Download</a>

        </div>
    </div>
</div>