<div class="swiper-slide bg-page">
    <div class="w-full h-full bg-gradient-to-r from-black to-75% flex items-center justify-between">
        <div class="md:w-1/2">
            <div class="px-4 md:px-0 md:pl-20 xl:pl-40 space-y-6 text-center sm:text-left">
                <div class="text-4xl sm:text-6xl md:text-6xl xl:text-7xl text-white">Instruction</div>
                <div class="text-lg md:text-2xl text-white opacity-70">How to install my games? It's easy!</div>
            </div>
        </div>

        <div class="md:w-1/2 text-left space-y-4">
            <div class="text-4xl opacity-70">1 → Download a .zip file from links above</div>
            <div class="text-4xl opacity-70">2 → Unpack the file</div>
            <div class="text-4xl opacity-70">3 → Go to the files and doble click on "Testbirda.exe" or "CaveGame.exe"(depending on the game you downloaded!)</div>
            <div class="text-4xl opacity-70">4 → Enjoy the game!</div>

        </div>
    </div>
</div>