---

---

<div class="swiper-slide bg-page">
    <div class="w-full h-full bg-gradient-to-r from-black to-75% flex items-center justify-between">
        <div class="md:w-1/2">
            <div class="px-4 md:px-0 md:pl-20 xl:pl-40 space-y-6 text-center sm:text-left hidden md:block">
                <div class="text-4xl sm:text-6xl md:text-6xl xl:text-7xl text-white">Informacion about creator</div>
                <div class="text-lg md:text-2xl text-white opacity-70">With this links, you can show my works!</div>
            </div>
        </div>

        <div class="md:w-1/2 text-left space-y-4">
            <div class="text-5xl opacity-70 text-center">Social links</div>


            <div class="flex flex-col gap-6 items-center">
                <div class="btn-social red"><a href="https://www.youtube.com/channel/UC927NDquS2rHmPCDyh6bcyQ">Youtube</a></div>
                <div class="btn-social green"><a href="https://github.com/Flexeye1/" >GitHub</a></div>
                <div class="btn-social blue"><a href="https://t.me/pro_bricks" >Telegram</a></div>


            </div>


        </div>
    </div>
</div>
